{% extends 'store/main.html' %}

{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="template about" style="width:70%;display: block;margin-left: auto;margin-right: auto;">
<div class="headers"><h3>О компании</h3></div>
<br>
<br>
<br>
<br>
<br>
<img class="face" src="{% static 'images/face.jpeg' %}" style="height: 500px">
<br>
<br>
<ol><strong class="headings">Компания «ООО Starshop Technics:</strong>
<li>Исламские Вклады с ВЫСОКОЙ доходностью;</li>
<li>Купля-продажа товаров в рассрочку «Мурабаха»:</li>
<li>Договор купли – продажи «Мурабаха», представляет собой сделку, при которой «ООО Starshop Technics » приобретает необходимый Клиенту товар у продавца и перепродает с заранее оговоренной торговой накидкой, но с возможностью оплаты стоимости  в рассрочку.</li>
<li>УСЛОВИЯ СДЕЛКИ «Мурабаха» – КУПЛИ ПРОДАЖИ ТОВАРОВ В РАССРОЧКУ:</li>
<li>МАКСИМАЛЬНАЯ СУММА ФИНАНСИРОВАНИЯ на приобретения товаров НЕ БОЛЕЕ 20.000.000 сум.;</li>
<li>ПРИ ФИНАНСИРОВАНИИ НА СУММУ:
     от 1,000,000 сум. до 5,000,000 сум. НЕ требуется аванс, обязательные условия, предоставление заработной карты;
     от 5,000,000 сум. до 20,000,000 сумов паспорт оригинал, первоначальный взнос,</li>
<li>банковские пластиковые карты (официальное место работы)</li>
<li>Рассрочка предоставляется лицам достигших 18 лет</li>
<li>МАКСИМАЛЬНЫЙ СРОК РАССРОЧКИ - от 1 до 8 МЕСЯЦЕВ;</li>
<li>МИНИМАЛЬНАЯ СУММА АВАНСА – 25% от полной стоимости приобретаемого товара;</li>
<li>Торговая НАКИДКА на полную стоимость товара составляет от 10 % до 30 %.  (Чем больше АВАНС, тем ниже торговая НАКИДКА)</li>
<li>При оплате МИНИМАЛЬНОГО АВАНСА (25% от стоимости товара) ТОРГОВАЯ НАКИДКА составит 22% от ПОЛНОЙ СТОИМОСТИ ТОВАРА. В случаях оплаты в качестве АВАНСА более 25% от полной стоимости товара - ТОРГОВАЯ НАКИДКА устанавливается ИНДИВИДУАЛЬНО.</li>
<li>Уведомляем ВАС о том, что ШТРАФЫ, ПЕНИ, СБОРЫ, КОМИССИИ, ОТКАТЫ, ПОДАРКИ, БЛАГОДАРНОСТИ и иные скрытые платежи в рамках договоров компании «ООО Starshop Technics» НЕ ПРЕДУСМОТРЕННЫ!</li>
</ol>
Мы заключаем  торговую сделку и несем все риски, которые обычно несет продавец при поставке товара. Именно за этими рисками обусловлена указываемая в договорах фиксированная наценка на весь выбранный клиентом срок рассрочки. В момент заключения договоры вы будете четко знать сумму, сроки платежа и подлежит изменению в большую сторону ни при каких обстоятельствах.
<ol>
<li>Деньги за товар вы становитесь должны только после фактического его получения и согласия на его покупку в соответствии с ранее оговоренными условиями.</li>
<li>Главное отличие  кредита от  нашей рассрочки состоит в том, что сотрудничество с  «ООО STARSHOP TECHNICS»  не предусматривает штрафы, пени откаты и обязательные страховки. Согласись, при взятии кредита без вышеперечисленных «прелестей» обойтись невозможно.</li>
</ol>
<br>
<br>
<br>

<ol><strong class="headings">Основные принципы деятельности ООО «STARSHOP TECHNICS» - это прежде всего:</strong>
<li>- Каноническое соответствие  всех предлагаемых операций нормам Ислама;</li>
<li>- Гибкость решений, индивидуального для каждого клиента;</li>
<li>- Применение многообразных схем финансирования и оптимизация   налогообложения;</li>
<li>- Оперативность в работе и универсальный документооборот;</li>
<li>- Нацеленность на интересы заказчика и на конечный результат;</li>
<li>- Содействие образованию востребованных и эффективных бизнес структур;</li>
<li>- Льготные условия  для клиентов, повторно обратившихся в компанию;</li>
<li>- Бесплатный расчет обязательного для мусульман Закята  с предоставлением возможности  прозрачного распределения выделенных на это средств.</li>
</ol>
<br>
<br>
<br>
<ol><strong class="headings">На вопрос «А почему Мы должны выбрать именно Вас?» ответить будет несложно, потому что Мы:</strong>
<li> Единственная компания в Узбекистане , включающая Исламские принципы финансирования предоставлением услуг консалтинга в юридической области и бухгалтерии.</li>
<li> Обеспечиваем безопасный способ хранения денежных средств и расчетов с клиентами, так как обеспечивается тщательный подход к каждому этапу заключения договоров и подготовки всей необходимой документации.</li>
<li> Смогли разработать гибкую тарифную политику, выгодную для клиентов, пожелавших купить или приобрести товар;</li>
<li> Разработали тарифы учитывающие интересы, как малого, так и крупного бизнеса пользующихся кон  услугами;</li>
<li> Предлагаем стать не только Клиентами, но и партнерами в бизнесе.</li>
</ol>
</div>
{% endblock content %}
