{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<style>
	.container-privacy{
		width:60%;
		margin-left:20%;
	}
	.container-privacy ul li{
		list-style: disc;
	}
</style>
<body>
  <br>
	<div class="container-privacy">
<h2>Условие использование</h2>
<br>
<h3>Общая информация:</h3>
<br>
<p>Политика конфиденциальности интернет маркетплейса "BAIHOUSE" (далее «Компания») является официальным документом, определяющим порядок сбора, обработки, хранения и защиты данных физических и юридических лиц, использующих сайт, ресурсы (в том числе онлайн ресурсы) и услуги интернет маркетплейса "BAIHOUSE" (далее «Пользователи»).</p>

<p>Соблюдение данной политики является важным для нас, поскольку защищает права и свободу каждого Пользователя.</p>
<p>Настоящая политика распространяется на обработку личных, персональных данных, собранных любыми средствами, как через интернет, так и вне его.</p>
<br>
<h3>Сбор персональных данных</h3>
<br>
<p>Целью сбора и обработки персональных данных является выполнение обязательств интернет маркетплейса "BAIHOUSE" перед Пользователем, а также оповещение Пользователя о важных новостях и предложениях компании.</p>
<p>Сбор и обработка персональных данных Пользователей осуществляется с согласия Пользователя, отправляющего или предоставляющего интернет маркетплейсу "BAIHOUSE" свои персональные данные.</p>
<p>Под персональными данными понимается любая информация, относящаяся и/или идентифицирующая субъект персональных данных.</p>
<br>
<h3>Хранение и использование персональных данных</h3>
<br>
<p>Интернет маркетплейс "BAIHOUSE" несет полную ответственность за хранение и безопасность персональных данных Пользователей.</p>
<p>Соглашаясь с условиями Политики конфиденциальности интернет маркетплейса "BAIHOUSE", Пользователь дает согласие на оповещения о новостях и предложениях компании через такие каналы коммуникации как email-рассылка, sms-уведомления, whatsapp рассылка, звонки.</p>
<p>В некоторых случаях интернет маркетплейс "BAIHOUSE" может предоставлять определенную персональную информацию Пользователей третьим лицам, но только в случае если третьими лицами являются партнеры компании, которые помогают компании осуществлять оказание услуг, или же представители государственных органов, находящихся при исполнении должностных обязанностей, исполнение которых требует передачу персональных данных конкретного Пользователя.</p>
<br>
<h3>Защита персональных данных</h3>
<br>
<p>Компания предпринимает меры предосторожности – включая правовые, организационные, административные, технические и физические – для обеспечения защиты персональных данных Пользователя в соответствии с Законом Кыргызской Республики "Об информации персонального характера".</p>
<p>Пользователь легко может поддерживать свои персональные данные в актуальном состоянии, поддерживая связь с Компанией любыми удобными способами.</p>
<p>Пользователь может отказаться от получения уведомлений со стороны Компании, связавшись с Компанией любым удобным способом, и сообщив о своем желании прекратить получать уведомления.</p>
<br>
<h3>Другое</h3>
<p>Во всем остальном, что не отражено напрямую в Политике Конфиденциальности, интернет маркетплейс "BAIHOUSE" обязуется руководствоваться нормами и положениями Законом Кыргызской Республики "Об информации персонального характера".</p>
<p>Компания оставляет за собой право вносить любые изменения в Политику в любое время по своему усмотрению с целью совершенствования защиты от несанкционированного доступа к персональным данным Пользователей без согласия Пользователя.</p>
<br>
<h3>Условия доставки</h3>
<br>
<ul>
  <li>Доставка осуществляется в течении одного-двух рабочих дней, после полной оплаты заказа, в зависимости от габаритов заказа, веса и зоны доставки. </li>  
  <li>Доставка по городу Бишкек бесплатная. Однако, сумма доставки может быть начислена при больших объемах, и зоны доставки. </li>
  <li>Служба доставки ждёт заказчика не более 30 минут. По истечении времени, курьер уезжает и повторная доставка товара оплачивается отдельно. </li>
  <li>Служба доставки работает с понедельника по субботу. Воскресенье выходной день. </li>
  <li>Время работы службы доставки: 
     <ul>
       <li>С понедельника по субботу с 14:00 до 18:00 </li>
    </ul>
  </li>
  <li>В случае возврата товара по следующим причинам: товар не понравился клиенту, товара на момент оплаты не было в наличии на складе, сумма оплаты за заказ возвращается без комиссии. 
</li>
  <li>В случае возврата товара по следующим причинам: товар не понравился клиенту, товара на момент оплаты не было в наличии на складе, сумма оплаты за заказ возвращается без комиссии. 
Более подробно, вас проконсультирует менеджер ведущий сделку +996 500 709 820 (WhatsApp) </li>
</ul>
<br>
<h3>Инструкция к оплате</h3>
<br>
<p>через платежный сервис компании PayBox.kg. Благодаря данному сервису у наших клиентов есть возможность оплатить заказ картой (Visa, MasterCard, Элкарт, Apple Pay, UnionPay), онлайн кошельками (О!Деньги, Balance, Элсом), и наличными средствами через платежные терминалы (Umai, Оной, QuickPay)</p>
<p>Перед тем как провести оплату картой, убедитесь в том, что ваша карта подключена к услуге «Интернет покупки». </p>
<p>После подтверждения заказа Вы будете перенаправлены на защищенную платежную страницу PayBox, где необходимо будет ввести данные для оплаты заказа. </p>
<p>После успешной оплаты на указанную в форме оплаты электронную почту будет направлен электронный чек с информацией о заказе и данными по произведенной оплате.</p>
</div>
</body>

{% endblock content %}